<footer class="footer pt-5 mt-auto">
    <div class="container">
      <div class=" row">
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; {% now "Y" %} <strong>Task Manager</strong>. Built with Python & Django by Vitaliy Stepanyuk.
              <br>
              <a href="https://github.com/step-98" target="_blank" class="text-dark text-decoration-none mt-2 d-inline-block">
                <i class="fab fa-github me-1"></i> View Source Code
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
