{% load query_transform %}
{% if is_paginated %}
  <ul class="pagination mx-3 mx-md-4 mt-4 ">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link"
           style="background-color: #2b2b2b; border-color: #444; color: #ffffff">prev</a>
      </li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link" style="background-color: #6b6b6b; border-color: #555; color: #ffffff">
        {{ page_obj.number }} of {{ paginator.num_pages }}
      </span>
    </li>
    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link"
        style="background-color: #2b2b2b; border-color: #444; color: #ffffff">next</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
