{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in worker.tasks.all %}
        <hr>
        <p><strong>Name:</strong> {{ task.name }}</p>
        <p><strong>Description:</strong> {{ task.description }}</p>
        <p><strong>Deadline:</strong> {{ task.deadline }}</p>
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p class="text-muted"><strong>Id:</strong> {{task.id}}</p>

    {% empty %}
      <p>No tasks!</p>
    {% endfor %}
  </div>
{% endblock %}
